* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M823.7 230.89a2.31 2.31 0 1 0-1.05 4.5z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M483.62 198.43 a30.66 30.66 0 1 0 61.32 0 a30.66 30.66 0 1 0 -61.32 0z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M758.16 370.48L811.54 370.48L811.54 423.86L758.16 423.86z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M557.3 332.4a13.88 13.88 0 1 0-7.1-26.84z' stroke='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M48.5 202.29L49.91 202.29L49.91 203.7L48.5 203.7z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M658.45 276.07L682.49 276.07L682.49 300.11L658.45 300.11z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M799.43 531.52 a17.53 17.53 0 1 0 35.06 0 a17.53 17.53 0 1 0 -35.06 0z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M1419.74 45.74L1473.69 45.74L1473.69 99.69L1419.74 99.69z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M822.27 12.33 a9.35 9.35 0 1 0 18.7 0 a9.35 9.35 0 1 0 -18.7 0z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M92.23 312.96L145.29 312.96L145.29 366.02L92.23 366.02z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M1014.18 265.07a54.85 54.85 0 1 0 65.86-87.73z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M1221.66 58.92 a48.85 48.85 0 1 0 97.7 0 a48.85 48.85 0 1 0 -97.7 0z' stroke='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M1098.41 557.24L1114.8 557.24L1114.8 585.24L1098.41 585.24z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M420.61 511.29L457.19 511.29L457.19 547.87L420.61 547.87z' stroke='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M302.04 257.84 a20.68 20.68 0 1 0 41.36 0 a20.68 20.68 0 1 0 -41.36 0z' stroke='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M884.59 423.03a20.69 20.69 0 1 0 26.85-31.49z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M1464.57 437.56a51.98 51.98 0 1 0-101.28 23.44z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M885.95 443.09L925.53 443.09L925.53 449.15L885.95 449.15z' stroke='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M1380.14 370.55 a26.79 26.79 0 1 0 53.58 0 a26.79 26.79 0 1 0 -53.58 0z' stroke='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M233.33 373.55 a33.06 33.06 0 1 0 66.12 0 a33.06 33.06 0 1 0 -66.12 0z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M1032.09 555.85L1055.5 555.85L1055.5 579.26L1032.09 579.26z' stroke='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M184.87 17.12L185.34 17.12L185.34 71.96L184.87 71.96z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M759.58 413.31L812.94 413.31L812.94 431.04L759.58 431.04z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M110.33 396.31a17.04 17.04 0 1 0-6.82-33.39z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M575.22 111.27L608.69 111.27L608.69 144.74L575.22 144.74z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M875.62 364.8a17.51 17.51 0 1 0-24.71-24.82z' stroke='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M165.67 9.56L191.9 9.56L191.9 35.79L165.67 35.79z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M545.01 473.04L599.37 473.04L599.37 527.4L545.01 527.4z' stroke='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M749.3 402.54L779.99 402.54L779.99 433.23L749.3 433.23z' fill='rgba(234%2c 236%2c 238%2c 1)'%3e%3c/path%3e%3cpath d='M1374.72 523.97a23.03 23.03 0 1 0-16.2 43.11z' stroke='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M915.93 237.13 a38.46 38.46 0 1 0 76.92 0 a38.46 38.46 0 1 0 -76.92 0z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M1090.09 522.76L1145.17 522.76L1145.17 577.84L1090.09 577.84z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M617.6 205.37L649.26 205.37L649.26 237.03L617.6 237.03z' fill='rgba(208%2c 209%2c 211%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    #container {
        height: 92vh;
        display: flex;
        justify-content: center;
        align-items: center;
        #calculator {
            height: 65vh;
            width: 45vh;
            border: 3px solid #D0D1D3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: white;
            border-radius: 15px;
            #result {
                justify-self: center;
                align-self: center;
                width: 100%;
                height: 62%;
                background-color: white;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            #showNumbers {
                width: 100%;
                height: 14%;
                background-color: white;
                border-top: 1.5px solid #D0D1D3;
                border-bottom: 1.5px solid #D0D1D3;
            }
            #buttons {
                width: 95%;
                height: 33%;
                gap: 2%;
                display: grid;
                grid-template-columns: repeat(6,1fr);
                grid-template-rows: repeat(4,1fr);
                grid-template-areas: 
                    "si o n + c e "
                    "cua cin se - p r "
                    "u d t * p p "
                    "0 , % / i i ";
                padding: 5px;
                button {
                    background-color: #EAECEE;
                    border: none;
                    border-radius: 10px;
                }
                .number {
                   #uno {
                       grid-area: u;
                   }
                   #dos{
                       grid-area: 2;
                   }
                }
             
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-self: center;
        align-items: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        div {
            display: flex;
            justify-content: space-between;
            margin: 10px;
            width: 80px;
            svg {
                transition: ease 0.3s;
            }
            svg:hover {
                transform: scale(1.2);
            }
        }
    }
}